.ct_container{
    /*height: 1650px;*/
}
/*第一张banner*/
.banner1 {
    /*position: absolute;*/
    /*top:75px;*/
    position: relative;
    width:100%;
}
.banner1 img {
    width:100%;
}
/*列表*/
.list{
    width:100%;
    /*position: absolute;*/
    /*top:250px;*/
    position: relative;
    background-color: #f1f1f1;
}
.list ul {
    display: flex;
    width:100%;
    flex-wrap: wrap;
}
.list ul li {
    width: 50%;
    padding: 10px;
}
.list ul li a {
    height:40px;
    line-height:40px;
    border-radius: 40px;
    width:100%;
    display: block;
    background-color: #fff;
    text-align: center;
}
.list ul li a.active{
    background-color: #bb2b2b;
    color: #fff;
}
.description {
    /*position: absolute;*/
    /*top:356px;*/
    position: relative;
    width:100%;
    padding:0 10px;
}
.description img {
    width:100%;
}
.description .description_text{
    position: absolute;
    top:67%;
    left:3%;
    padding: 1% 9%;
    line-height:28px;
    color: #666;
    font-size: 0.7rem;
}
.culture {
    /*position: absolute;*/
    /*top:920px;*/
    position: relative;
    width:100%;
    padding:0 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.culture img {
    width:100%;
}
.culture .culture_text{
    position: absolute;
    top:46%;
    left:3%;
    padding: 1% 9%;
    line-height:29px;
    color: #666;
    font-size: 0.65rem;
}
